<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Firm List</title>
</head>
<body>

<table border="1" cellspacing="0">
    <tr>
        <th>Firm Name</th>
        <th>Firm Email</th>
        <th>Firm Website</th>
        <th>Firm PhoneNumber</th>
    </tr>
    <tr th:each="firm: ${firms} ">
        <td th:text="${firm.firmName}"></td>
        <td th:text="${firm.firmEmail}"></td>
        <td th:text="${firm.firmWebsite}"></td>
        <td th:text="${firm.phoneNumber}"></td>
    </tr>
</table>

<a th:href="@{/api/firm}">Add Firm</a>

</body>
</html>