* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 0 10px;
    border-bottom: 0;
}

ul {
    list-style-type: none;
}


/* ---------homepage----------- */

header .navbar a {
    padding: 15px;
    font-size: 18px;
}

#brand {
    background-color: black;
    cursor: text;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px orange;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-item .nav-link:hover {
    background: rgb(22, 102, 122);
    color: white !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav-item .nav-link:hover i {
    color: white !important;
}

.intro {
    background: radial-gradient(green, yellow);
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.intro .col-md-6 {
    padding: 50px;
}

.categories-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

#carouselExampleCaptions img {
    border: 5px inset rgba(0, 0, 0, 0.7);
}

.carousel-indicators li {
    background-color: black !important;
}

.carousel-caption {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.featured .row .col-12 {
    padding: 5px;
    margin: 0 -1px 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.featured img {
    border-radius: 10px;
    padding: 5px;
}

.rating {
    color: orangered;
}

.offer {
    background: radial-gradient(green, yellow);
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 2em;
}

.latest .col-12 {
    padding-top: 10px;
    border-radius: 10px;
    margin: 0 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer {
    margin-top: 50px;
    background-color: black;
    padding-top: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
}


/* ----------homepage------------ */


/*--------products------------*/

.categories-nav li {
    flex-grow: 1;
    text-align: center;
}

.categories-nav a {
    color: white !important;
}

.categories .row .col-sm-6 {
    box-shadow: 5px 5px 12px 0 black;
    margin: 0 15px 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.add-to-cart {
    background-color: chocolate;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


/*--------products------------*/


/* -------search----------- */

.search .col-12 {
    padding: 10px;
    margin: 0 3px 15px;
    box-shadow: 3px 3px 7px 0 black;
}


/* -------search----------- */


/* -------registr---------- */

.form-container {
    background: linear-gradient(65deg, rgb(238, 104, 204), rgb(159, 101, 192), rgb(112, 143, 228));
    width: 40%;
    margin: 50px auto;
    padding: 50px;
    box-shadow: 5px 5px 15px 0 black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-container h2 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}

.input-container {
    margin-bottom: 15px;
    padding: 10px;
    font-weight: bold;
}

.input-container label,
input {
    width: 100%;
    text-align: left;
    display: block;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-container input:focus {
    outline: none;
    border: 1px solid blue;
}

.submit {
    display: block;
    padding: 7px;
    cursor: pointer;
    border: 1px solid green;
    font-weight: bold;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.submit:hover {
    background-color: rgb(40, 27, 158);
    color: white;
}


/* -------registr---------- */