<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body style="background-color: orange;">

    <div class="form-container">
        <h2>Sign Up</h2>
        <form action="">
            <div class="input-container">
                <label for="">Fullname</label>
                <input type="text" name="fullname" placeholder="Sharipov Sunnatillo">
            </div>
            <div class="input-container">
                <label for="">Phone Number</label>
                <input type="text" name="phone" placeholder="+6565688988">
            </div>
            <div class="input-container">
                <label for="">Password</label>
                <input type="password" name="password">
            </div>
            <div class="input-container">
                <button class="submit">Submit</button>
            </div>
        </form>
    </div>

</body>

</html>