<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<div class="container-fluid">

    <!-- -------header--------- -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light font-weight-bold">
            <a href="" class="navbar-brand" id="brand">DSC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="store.html" class="nav-link">
                            <i class="fa fa-shopping-cart text-dark pl-3 pr-5">
                                <span class="badge badge-success">0</span>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user text-dark px-3"></i>Sign
                        In</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <!-- -------header--------- -->

    <!-- ---------main-------- -->
    <main>
        <hr>
        <div class="row justify-content-around text-center font-weight-bold search">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../static/img/products/product1.jpg" alt="" class="w-100 img-thumbnail">
                <p>Search Item 01</p>
                <p>32.01 USD</p>
                <p class="add-to-cart" product-id="1" product-price="32.01" product-quantity="1"
                   product-name="Search Item 01">Add To Cart</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../static/img/products/product2.jpg" alt="" class="w-100 img-thumbnail">
                <p>Search Item 02</p>
                <p>32.02 USD</p>
                <p class="add-to-cart" product-id="2" product-price="32.02" product-quantity="2"
                   product-name="Search Item 02">Add To Cart</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../static/img/products/product3.jpg" alt="" class="w-100 img-thumbnail">
                <p>Search Item 03</p>
                <p>32.03 USD</p>
                <p class="add-to-cart" product-id="3" product-price="32.03" product-quantity="3"
                   product-name="Search Item 03">Add To Cart</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../static/img/products/product4.jpg" alt="" class="w-100 img-thumbnail">
                <p>Search Item 04</p>
                <p>32.04 USD</p>
                <p class="add-to-cart" product-id="4" product-price="32.04" product-quantity="4"
                   product-name="Search Item 04">Add To Cart</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../static/img/products/product5.jpg" alt="" class="w-100 img-thumbnail">
                <p>Search Item 05</p>
                <p>32.05 USD</p>
                <p class="add-to-cart" product-id="5" product-price="32.05" product-quantity="5"
                   product-name="Search Item 05">Add To Cart</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../static/img/products/product6.jpg" alt="" class="w-100 img-thumbnail">
                <p>Search Item 06</p>
                <p>32.06 USD</p>
                <p class="add-to-cart" product-id="6" product-price="32.06" product-quantity="6"
                   product-name="Search Item 06">Add To Cart</p>
            </div>
        </div>
    </main>
    <!-- ---------main-------- -->

    <!-- ---------footer-------- -->
    <footer id="footer">
        <hr class="bg-white">
        <div class="row">
            <div class="col-sm-4 border-right">
                <h3 class="brand">DSC</h3>
                <p>Default Software Company</p>
            </div>
            <div class="col-sm-4 border-right">
                <ul>
                    <li>Instagram <i class="fab fa-instagram"></i></li>
                    <li>Telegram <i class="fab fa-telegram"></i></li>
                    <li>You Tube <i class="fab fa-youtube"></i></li>
                    <li>Facebook <i class="fab fa-facebook"></i></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div id="contact">Murojaat Uchun Telefon</div>
                <p>+88898988887</p>
            </div>
        </div>
    </footer>
    <!-- ---------footer-------- -->
</div>

<script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>

</html>